name: Lab 4 ML CI/CD
on: [push]
jobs:
  train:
    runs-on: ubuntu-latest
    outputs:
      r2_score: ${{ steps.metrics.outputs.r2_score }}
      mse: ${{ steps.metrics.outputs.mse }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - run: pip install -r requirements.txt
    - run: python train.py
    - name: Install jq
      run: sudo apt-get install jq
    - id: metrics
      run: |
        jq -r '.r2_score' metrics.json
        jq -r '.mse' metrics.json
        R2=$(jq -r '.r2_score' metrics.json)
        MSE=$(jq -r '.mse' metrics.json)
        echo "r2_score=$R2" >> $GITHUB_OUTPUT
        echo "mse=$MSE" >> $GITHUB_OUTPUT
    - uses: actions/upload-artifact@v4
      with:
        name: model-artifacts
        path: |
          artifacts/
          metrics.json
  deploy:
    needs: train
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/download-artifact@v4
      with: 
        name: model-artifacts
    - run: echo "R2: $(cat metrics.json | grep r2_score)"
